Movies_App/Movie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="Movie" targetNamespace="http://www.example.org/Movie/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Movie/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="">
	<wsdl:types>		
		<xsd:schema targetNamespace="http://www.example.org/Movie/">
			<xsd:element name="MovieResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace=''
				schemaLocation="../Schemas/Movie.xsd">
			</xsd:import></xsd:schema></wsdl:types>
	<wsdl:message name="NewMovieRequest">
		<wsdl:part name="parameters" element="Movie" />
	</wsdl:message>
	<wsdl:message name="NewMovieResponse">
		<wsdl:part element="tns:MovieResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MovieInterface">
		<wsdl:operation name="NewMovieOperation">
			<wsdl:input message="tns:NewMovieRequest" />
			<wsdl:output message="tns:NewMovieResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MovieBinding" type="tns:MovieInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewMovieOperation">
			<!-- SOAPAction: Header of HTTP Requests -->
			<soap:operation
				soapAction="http://www.example.org/NewWSDLFile/NewMovieOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MovieService">
		<wsdl:port binding="tns:MovieBinding" name="Movie">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>